version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            pyenv global 3.8.10
            # we switch to 3.8.10 to install the venv because the tap is incompatible with python 3.9+ xml module
            python3 -m venv /usr/local/share/virtualenvs/tap-zuora
            source /usr/local/share/virtualenvs/tap-zuora/bin/activate
            pip install .[dev]
            pyenv global 3.9.6
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-zuora/bin/activate
            pylint tap_zuora -d missing-docstring,line-too-long,too-many-locals,too-many-arguments,bad-whitespace,no-else-return,unused-argument
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-zuora tests/zuora.py
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
